<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center m-t-lg">
                <h1>
                    Plt page
                </h1>
                <small>This page will be for the platoon</small>
            </div>
        </div>
    </div>
</div>
