<div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label" for="postion">Position</label>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label" for="name">Name</label>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label" for="rank">Rank</label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label" for="contact">Contact</label>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <tbody>
                                <tr>
                                    <td>Platoon Leader</td>
                                    <td>Jameyson</td>
                                    <td>CPT</td>
                                    <td>56767889</td>
                                </tr>
                                <tr>
                                    <td>Platoon Sergeant</td>
                                    <td>Rosales</td>
                                    <td>SFC</td>
                                    <td>4567678</td>
                                </tr>
                                <tr>
                                    <td>1st Squad Leader</td>
                                    <td>Goddard</td>
                                    <td>SSG</td>
                                    <td>1234567789</td>
                                </tr>
                                <tr>
                                    <td>2nd Squad Leader</td>
                                    <td>Goddard</td>
                                    <td>SSG</td>
                                    <td>1234567789</td>
                                </tr>
                                <tr>
                                    <td>3rd Squad Leader</td>
                                    <td>Goddard</td>
                                    <td>SSG</td>
                                    <td>1234567789</td>
                                </tr>
                                <tr>
                                    <td>4th Squad Leader</td>
                                    <td>Goddard</td>
                                    <td>SSG</td>
                                    <td>1234567789</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
